/*********************************************
    NAVBAR
**********************************************/
.btn-group-justified{
    margin-left: 1%;
    margin-top: 0.5%;
    width: 98%;
}

.btn-default{
    background-color: white;
}

.top{
    display: table-row;
    padding-bottom: 0.3%;
    padding-top: 0.5%;
    background-color: #0b3d86;
   
    
}

#timLogo{
    width: 90%;
    height: auto;
}

#image-box{
    background-color: white;
    width: 17%;
    height: auto;
    position: relative;
    top: 5%;
    left: 1%;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: inline-block;
}

#orientation{
    color: white;
    font-size: 18px;
    margin-left: 2%;
    vertical-align: bottom;
    display: inline-block;
}

.icon-bar{
    background-color: white;
}

#imgBoxCollapsed{
    display: none;
}

@media only screen and (max-width : 767px ) {
    
    .btn-group-justified{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        border-collapse: inherit;
    }
    .btn-group-justified>.btn,.btn-group-justified>.btn-group{
        position: relative;
        display:block;
        float:none;
        width:100%;
        max-width:100%
    }
    
    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
        margin-left: -1px
    }
    
    .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
        border-radius: 0;
    }
    
    #image-box{
        display: none;
    }
    
    #imgBoxCollapsed{
    background-color: white;
    width: 150px;
    height: auto;
    position: relative;
    top: 4px;
    left: 4%;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: inline-block;
    }
    
    #btnGroupPanel{
        padding-left: 0;
        padding-right: 0;
    }

}
/*********************************************
        HOME
**********************************************/
.homeButton{
    border: 1px solid black;
    margin-top: 5%;
    width: 98%;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    background-color:#0b3d86;
    margin-left: 1%;
}

.right{
    background-color: white;
}


.homeButtonRight{
    border: 1px solid black;
    margin-top: 5%;
    width: 98%;
    display: inline-block;
    margin-left: 1%;
    position: relative;
    border-radius: 10px;
    background-color:white;
}

#socialButton{
    border: 1px solid black;
    margin-top: 5%;
    width: 98%;
}

#dev{
    position: absolute;
    float:right;
    right: 7%;
    top: 2%;
    height: 95%;
}

#prom{
    position: absolute;
    float:right;
    right: 7%;
    top: 8%;
    height: 85%;
}

#sl{
    position: absolute;
    float:right;
    right: 4%;
    top: 8%;
    height: 85%;
}

#social{
    position: absolute;
    width: 52%;
    top: 25%;
    left: 42%;
    
    
}

#socialTag{
    position: absolute;
    top: -10%;
    left: 5%;
    margin: 0 0 0 0;
    background-color: white;
}

#followTag{
    position: absolute;
    top: 37%;
    left: 10%;
}

.test{
    margin-left: 7%;
    margin-top: 9%;
    margin-bottom: 9%;
    vertical-align: middle;
}

.test2{
    margin-left: 2%;
    margin-top: 8%;
}


body{
    background-color: #0b3d89;
}

#mainImage{
    margin-top: 3%;
    margin-left: 1%;
    width: 100%;
    border: 1px solid black;
}

#secondCol{
    position: relative;
}

#slideArrow{
    /* margin-top: 40%;
    margin-left: -11%;  */
    width: 45%;
    position: absolute;
    top: 8.5%;
}


.slideImage{
    margin-top: 15%;
    margin-left: -28%;
    width: 118%;
    border: 1px solid black;
}

.slideImage23{
    margin-top: 7%;
}

.background{
    margin-top:9%;
    background-color: white;
    margin-left: 1%;
    width: 98%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.tab-back{
    margin-top:9%;
    margin-left: 0.2%;
    padding-left: 0;
    padding-right: 0;
    width: 98.8%;
}


.transition-panel{
    background-color: white;
    text-align: center;
    width:90.5%;
    padding-top: 0.1%;
    padding-bottom: 1%;
    margin-top: 30px;    
}

@media only screen and (max-width : 1367px ) and (min-width : 768px ) {
    .tab-back{
        margin-left: 0%;
        width: 99%;
    }
    .transition-panel{
        background-color: white;   
        text-align: center;
        width:92%;
        padding-top: 0.1%;
        padding-bottom: 1%;
        
    }

}



.panel-back{
    margin-left: -2%; 
    width: 85.3%;
    padding-left: 2%;
    background-color:white
}


.hr-link{
    border-top-color: #0b3d86;
}

.group-links{
    text-align: center;
    color: #0b3d86;
}

.groupLinkContainer{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.glyphicon{
    color: #0b3d86;
    
}

.title-with-tab{
    color: #fe000b;
    padding-left: 4%;
}

.color{
    height: 50px; 
    width:auto;
    margin-left: 2%;
}

.btn-color{
    color: #0b3d86;
}

#timvision-logo-original{
    width: 90%;
    height: auto;
    padding-bottom: 2%;
}

/*********************************************************************************************************************
SL-Category
*********************************************************************************************************************/

/*
title-without-tab = formattazione titolo per pagine senza tab a sinistra
*/
.title-without-tab{
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: #fe000b;
}

/*
top-descriotion = formattazione descrizione subito dopo titolo
*/
.top-description{
    position:relative;
    text-align: center;
    vertical-align: middle;
}

/*
category-subtitle = formattazione nome della categoria nella pagina delle categorie
*/

.background-category{
    margin-top:9%;
    background-color: white;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.image-container{
    text-align: center;
}

.category-subtitle{
    position:relative;
    text-align: center;
    vertical-align: middle;
    color: #0b3d86;
}

.category-images{
    position: relative;
    padding-bottom: 3%;
}

#SL-category-hr{
    border-top-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
}

.verticalLine {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: lightgray;

}
/*******************************************************************************************************
end of SL category
********************************************************************************************************/


/******************************************
      Device page
******************************************/
#mainDeviceImg{
    width: 80%;
    height: auto;
}

.devDescription{
    margin-top: 4%;
    font-size: 18px;
}

.fullPrice{
    font-size: 18px;
}

.monthPrice{
    font-size: 18px;
}

.imageGallery{
    text-align: center;
    margin-bottom: 2%;
    position: relative;
    margin-top: -4%;
}

.devicePic{
    width: 20%;
    margin-right: 2%;
    margin-top: 2%;
    border: 1px solid black;
}

.price{
    color: #fe000b;
}

.priceBarred{
    text-decoration: line-through;
    color: black;
}

.priceTag{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

h3.price{
   margin-top: 10px; 
}

.colorTag{
    margin-top: 4%;
    font-size: 18px;
}

.table-bordered{
    border: 1px solid black;
    width: 98%;
    margin-bottom: 2%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #ecf2f8;
}

.techName{
    color: #0b3d86;
}

.slList{
    list-style-type: none;
    padding-left: 0;
}


.inputGroup{
    background-color: lightgrey;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 4px;
}

.inputGroupTitle{

    margin-bottom: 0;
    margin-top: 4%;
}

.purchaseSummary{
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 12%;
    margin-right: 2%;
    text-align: center;
}

.purchaseSummary>h3{
    color: #fe000b;
}

.purchaseSummary>hr{
    border-top-color: black;
    margin-bottom: 3px;
    margin-top: 3px;
}

.purchaseSummary>h5{
    text-align: left;
    margin-left: 2%;
}

.purchaseSummary>h2{
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
}

.purchaseSummary>.price{
    text-align: left;
    margin-left: 4%;
}

#buyDeviceImage{
    width: 75%;
    height: auto;
}

#buy{
    padding-bottom: 2%;
}

.summaryColumn{
    text-align: center;
}

#summaryTitle{
    margin-top: 10px;
}

.buttonPurchase{
    white-space: normal;
    width: 80%;
    margin-top: 2%;
    background-color: #0b3d86;
}

.buttonPurchase>.glyphicon{
    color: white;
}

/*********************************************************************************************************************
WhoWeAre
*********************************************************************************************************************/

#leftImg{
    width:80%;
    position: relative;
    left: 20%;
    margin-top: 40%;
    margin-bottom: 15%;
}

#rightImg{
    position: relative;
    width: 80%;
    margin-top: 6%;
    left: 12%;
    padding-bottom: 5%;
}

.secondTitle{
    position: relative;
    padding-top: 4%;
    color:#0b3d86;
    left:1%;
    width:98%;
}

.descript{
    margin-left: 2%;
    margin-right: 2%;
}

.thirdTitle{
    position: relative;
    color: #0b3d86;
    text-align: center;
    margin: 0 0 0 0;
}

.fourthTitle{
    margin-top: 5%;
    text-align:center;
    color: #fe000b;
}

.bordered{
    border: 1px solid black;
    position: relative;
    left:5%;
    width:90%;
    border-radius: 10px;
}

.bottomUp{
    margin-bottom: 1%;
}

.firstTitle{
    position: relative;
    padding-top: 1%;
    color:#0b3d86;
    text-align: center;
}

.rightImgTest{
    width: 70%;
    margin-top: 4%;
}

.rightImgTest2{
    margin-top: 10%;
}

.rightImgTest3{
    width: 50%;
    margin-top: 3%;
}

.videoTag{
   margin-top: 10%; 
}

.testimonialsImage{
    text-align: center;
}

.imageColWWA{
    text-align: center;
}

/********************************************************************************
Button to go to the highlights in AssistanceService page
********************************************************************************/

.highButton {
    text-align: center;
    margin-top: 2%;
}

.high{
    position: relative;
    background-color: #0b3d89; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5% 6% 0.5% 6%;
}

/********************************************************************************
       Assistance service page
********************************************************************************/

.asImage{
    width: 40%;
}

.imageRow{
    text-align: center;
    padding-bottom: 2%;
}

#accordion{
    width: 98%;
}

.faqIcon{
    float: right;
    height: 120%;
}

.panel-title{
    font-size: 20px; 
}

/***********************************************************************************
    SL Service
***********************************************************************************/
.elem{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#rightImgSL{
    position: relative;
    margin-top: 5%;
    width:70%;
    left: 12%;
    padding-bottom: 2%;
}

.borderedTopDown{
    border-bottom: 1px solid black; 
    border-top: 1px solid black;
    position: relative;
}

.panel-back2{
    margin-left: -2%; 
    width: 85.3%;
    padding-left: 1%;
    background-color:white
}

.descriptContainer{
    border: 1px solid black;
    margin-top: 5%;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    left: 3.5%;
    width:96%;
}

#detailTag{
    position: absolute;
    top: -5%;
    left: 5%;
    margin: 0 0 0 0;
    background-color:white
}

.marginTable{
    position: relative;
    left: 2%;
    width:96%;
    border: 1px solid black;
}

.tableName{
    color: #0b3d86;
    left:2%;
    position: relative;
}

.descriptSl{
    position: relative;
    text-align: center;
    margin-top: 3%;
}

.descriptionSl{
    position: relative;
    float: left;
    margin-top: 1%;
}

.subtitleSl{
    position: relative;
    color: #0b3d86;
    text-align: center;
    margin: 0 0 0 0; 
}

.content{
    position: relative;
    text-align:left;
    padding-right: 2%;
}

#imgCont{
    position: relative;
    text-align: center;
}

.subtitleSl{
    position: relative;
    color: #fe000b;
    float: left;
    margin: 0 0 0 0; 
}

.description{
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.topImg{
    width:100%;
}

.slDesc{
    position:relative;
    text-align: center;
    vertical-align: middle;
}

.img{
    margin-top: 5%;
    float: left;
    width:100%;
}

.subtitle{
    position: relative;
    color: #0b3d86;
    text-align: center;
    margin: 0 0 0 0;
}

#title{
    margin-top: 1%;
}

#imageSl{
    margin-top: 2%;
}

.videoTag2{
   margin-top: 4%; 
   margin-left: 6%;
}

@media only screen and (max-width : 1140px) and (min-width: 835px ) {
    .videoTag2{
        margin-left: 0;
    }
}

@media only screen and (min-width: 1919px) {
    .videoTag2{
        margin-left: 17%;
    }
}


/*******************************************************************************************
REQUEST INFO
*******************************************************************************************/

.request-info-table{
    border: 1px solid black;
    margin-left: 2%;
    width: 96%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;    
}

#request-info-title-form{
    padding-left: 1%;
    color: #0b3d89;
}

.request-info-td{
    padding: 1% 1% 1% 1%;
}

#input-send{
    float: right;
    color: #0b3d89;
}

.request-info-input{
    background-color:#EEEEEE;
}

.input-text-form{
    resize: none;
}

/*********************************************************************************************
END OF REQUEST INFO
*********************************************************************************************/

/*********************************************************************************************
ASSISTANCE BY CATEGORY
*********************************************************************************************/

.assistance-by-format{
    text-align: center;
}

.assistance-category-subtitle{
    color: black;
    padding-bottom: 3%;
}

.assistance-image-background{
    background-image: url(../img/Tim-vision-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    
}

.name-of-assistance{
    padding-bottom: 2%;
}

.div-filt{}
.vertLin{}

/*********************************************************************************************
        Filter panel and devices by category
*********************************************************************************************/
#filterPanelTitle{
    text-align: center;
    color: #0b3d86;
}

#filterPanel{
    background-color: #EEEEEE;
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
}

.element{
    text-align: center;
    display: inline-table;
    margin-left: 3.5%;
    margin-top: 4%;
    border: 1px solid #333;
    width: 280px;
    height: 300px;
}

.devName{
    color: #0b3d86;
}

.element>a>img{
    margin-top: 1%;
    width: 45%;
}

.element>ul{
}

.groupLinkInCat{
    margin-top: 0;
}

.behclick-panel  .list-group {
            background-color: #EEEEEE;
    		margin-bottom: 0px;
}

.behclick-panel .panel-collapse{
    background-color: #EEEEEE;
}

.behclick-panel .list-group-item:first-child {
			border-top-left-radius:0px;
			border-top-right-radius:0px;
}
.behclick-panel .list-group-item {
            border-color: transparent;
            background-color: #EEEEEE;
			border-right:0px;
			border-left:0px;
}
.behclick-panel .list-group-item:last-child{
			border-bottom-right-radius:0px;
			border-bottom-left-radius:0px;
}
.behclick-panel .list-group-item {
            background-color: #EEEEEE;
			padding: 5px;
}
.behclick-panel .panel-heading {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
			color: #0b3d86;
}


.behclick-panel .radio, .checkbox {
			margin: 0px;
			padding-left: 10px;
}
.behclick-panel .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
			outline: none;
}
.behclick-panel .panel-body > .panel-heading{
			padding:10px 10px;
}
.behclick-panel .panel-body {
			padding: 0px;
}

/*********************************************************************************************
        Promotions
*********************************************************************************************/

.filterInProm{
    margin-top: 10%;
}

.promotionsSubtitle{
    padding-left: 5%;
    color: #0b3d86;
}

.titleInsideHR{
    width: 100%; 
    height: 20px; 
    border-bottom: 1px solid black;
    margin-bottom: 3%;
}

.titleInsideHR>span{
    font-size: 24px;
    color: #0b3d86;
    background-color: white;
    margin-left: 5%;
    padding: 0 2px;
}

.promElement{
    padding-left: 2%;
}


.promElement>div>img{
    width: 50%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
}

.promElement>div>a{
    display: inline-block;
    font-size: 17px;
    text-decoration: underline;
    text-align: center;
    margin-left:2%;
}

.promName{
    text-align: center;
    color: #fe000b;
}

.promText{
    text-align: center;
    margin-bottom: 4%;
}

/*************************************************************************************************
highlights
*************************************************************************************************/

.highlight-content{
    position: relative;
    border: 1px solid #333;
    margin-left: 4%;
    width: 92%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    
}

.highlight-content>img{
    width: 5%;
    position: absolute;
    bottom: 90%;
}

.highlight-arrow-image{
    margin-right: 4%;   
    margin-top: 4%;
}

#highlight-image{
    margin-top: 1.5%;
    width: 90%;
}

@media only screen and (max-width : 767px ) {    
    .highlight-content>img{
        width: 5%;
        position: absolute;
        bottom: 98%;
    }
}

/***************************************************************************************************
ASSISTANCE FOR
***************************************************************************************************/

.transition-left-content{
    text-align: center;
}

.button-back-to-device{
    padding-left: 5%;
    background-color: #0b3d86;
    margin-bottom: 2%;
    margin-top: 1%;
}

.button-back-to-device>.glyphicon{
    color: white;
    margin-right: 3%;
}

.transition-page-image{
    width: 100%;
}

#transition-page-content{}

.word-content-style{
    font-size: 20px;
}

.img-content-style{
    margin-bottom: 1%;
    margin-top: 1%;
    width: 20%;
    vertical-align: middle;
}

#transition-page-content > tbody > tr:nth-child(2n+1) > td > span{
   margin-right:20%;
   margin-left: 5%;    
}

#transition-page-content > tbody > tr:nth-child(2n+1) > td > img{
   margin-right:0%;
   margin-left: 0%;    
}

#transition-page-content > tbody > tr:nth-child(2n) > td > span{
   margin-right:0%;
   margin-left: 0%;
      
}

#transition-page-content > tbody > tr:nth-child(2n) > td > img{
    margin-right:20%;
   margin-left: 5%;         
}

#transition-page-content > tbody > tr:nth-child(2n+1) > td{
   background-color: lightblue;
}

.transition-table-row{
   text-align: center;
}

/**************************** MEDIA QUERIES*************************************/
@media only screen and (max-width : 767px ) {    
    #SL-category-hr{
        display: none;
    }
    .descript{
        margin-left: 6%;
        margin-right: 6%;
    }
    .panel-back{
        margin-left: 0.3%;
        width: 100%;
    }
    .tab-back{
        margin-top: 55px; 
    }
    .tabs-left>li{
        text-align: center;
    }
    .tabs-left>li>a{
        border-radius: 4px 4px 4px 4px;
    }
    .tabs-left{
        border-right: none;
    }
    #leftImg{
        width:52px;
        left:10%;
        margin-top: 40px;
    }
    #secondCol{
        display: none;
    }
    .background{
        margin-top: 55px;
    }
    
    #mainImage{
        margin-left: 0;
    }
    
    #followTag{
        left:8%;
        top:33%;
    }
    
    .slideImage{
        margin-top: 2%;
        margin-left: 0.5%;
        width: 32%;
        display: inline-block;
    }
    
    .background-category{
        margin-top: 50px;
        margin-left: 2%;
        width: 96%;
    }
    
    .contentDevice>.active{
        display: inline-block;
    }
    
    .transition-panel{
        margin-top: 4px;
        width:50%;
        margin-left: 25%;
    }
    
}

@media only screen and (max-width : 1200px ) and (min-width: 768px) {
    .tab-back{
        margin-top: 10.5%;
    }
}

@media only screen and (max-width : 768px ) and (min-width: 640px) {
    .tabs-left>li{
        display:inline-block;
        width: 33%;
    }
    
    #mainDeviceImg{
        width:65%;
    }
}

@media only screen and (max-width : 480px ) {    
    .btn-group>.btn{
        display: block;
        float: none;
    }
    
    .btn-group>.btn:last-child{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .btn-group>.btn:first-child{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media only screen and (min-width : 1919px ) {    
    .secondTitle{
        padding-top: 7%;
    }
}