/*********************************************
    NAVBAR
**********************************************/
.btn-group-justified{
    margin-left: 1%;
    margin-top: 0.5%;
    width: 98%;
}

.btn-default{
    background-color: white;
}

.top{
    display: table-row;
    padding-bottom: 0.3%;
    padding-top: 0.5%;
    background-color: #0b3d86;
    
}

#timLogo{
    width: 90%;
    height: auto;
}

/*********************************************
        HOME
**********************************************/
.homeButtonLeft{
    border: 1px solid black;
    margin-top: 5%;
    width: 98%;
    display: inline-block;
    float: right;
    position: relative;
    border-radius: 10px;
}

.homeButtonRight{
    border: 1px solid black;
    margin-top: 5%;
    width: 98%;
    display: inline-block;
    float:left;
    position: relative;
    border-radius: 10px;
}

#socialButton{
    border: 1px solid black;
    margin-top: 5%;
    width: 98%;
}

#dev{
    position: absolute;
    float:right;
    right: 7%;
    top: 2%;
    height: 95%;
}

#prom{
    position: absolute;
    float:right;
    right: 7%;
    top: 8%;
    height: 85%;
}

#sl{
    position: absolute;
    float:right;
    right: 4%;
    top: 8%;
    height: 85%;
}

#social{
    position: absolute;
    width: 52%;
    top: 25%;
    left: 42%;
    
    
}

#socialTag{
    position: absolute;
    top: -10%;
    left: 5%;
    margin: 0 0 0 0;
}

#followTag{
    position: absolute;
    top: 37%;
    left: 10%;
}

.test{
    margin-left: 7%;
    margin-top: 9%;
    margin-bottom: 9%;
    vertical-align: middle;
}

.test2{
    margin-left: 2%;
    margin-top: 8%;
}

#image-box{
    background-color: white;
    width: 17%;
    height: auto;
    position: relative;
    top: 5%;
    left: 1%;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

body{
    background-color: #0b3d89;
}

#mainImage{
    margin-top: 3%;
    margin-left: 1%;
    width: 100%;
    border: 1px solid black;
}

#secondCol{
    position: relative;
}

#slideArrow{
    /* margin-top: 40%;
    margin-left: -11%;  */
    width: 45%;
    position: absolute;
    top: 8.5%;
}


.slideImage{
    margin-top: 15%;
    margin-left: -28%;
    width: 118%;
    border: 1px solid black;
}

.slideImage23{
    margin-top: 7%;
}

.background{
    margin-top:9%;
    background-color: white;
    margin-left: 1%;
    width: 98%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.tab-back{
    margin-top:9%;
    margin-left: 0.2%;
    padding-left: 0;
    padding-right: 0;
    width: 98.8%;
}


.transition-panel{
    background-color: white;
    text-align: center;
    width:90.5%;
    padding-top: 0.1%;
    padding-bottom: 1%;
        
}

@media only screen and (max-width : 1367px ) {
    .tab-back{
        margin-left: 0%;
        width: 99%;
    }
    .transition-panel{
        background-color: white;   
        text-align: center;
        width:92%;
        padding-top: 0.1%;
        padding-bottom: 1%;
        
    }

}


.panel-back{
    margin-left: -2%; 
    width: 85.3%;
    padding-left: 2%;
    background-color:white
}


.hr-link{
    border-top-color: #0b3d86;
}

.group-links{
    text-align: center;
    color: #0b3d86;
}

.groupLinkContainer{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.glyphicon{
    color: #0b3d86;
    
}

.title-with-tab{
    color: #fe000b;
    padding-left: 4%;
}

.color{
    height: 50px; 
    width:auto;
    margin-left: 2%;
}

.btn-color{
    color: #0b3d86;
}

#timvision-logo-original{
    width: 90%;
    height: auto;
    padding-bottom: 2%;
}

/*********************************************************************************************************************
SL-Category
*********************************************************************************************************************/

/*
title-without-tab = formattazione titolo per pagine senza tab a sinistra
*/
.title-without-tab{
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: #fe000b;
}

/*
top-descriotion = formattazione descrizione subito dopo titolo
*/
.top-description{
    position:relative;
    text-align: center;
    vertical-align: middle;
}

/*
category-subtitle = formattazione nome della categoria nella pagina delle categorie
*/

.background-category{
    margin-top:9%;
    background-color: white;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.image-container{
    text-align: center;
}

.category-subtitle{
    position:relative;
    text-align: center;
    vertical-align: middle;
    color: #0b3d86;
}

.category-images{
    position: relative;
    padding-bottom: 3%;
}

#SL-category-hr{
    border-top-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
}

.verticalLine {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: lightgray;

}
/*******************************************************************************************************
end of SL category
********************************************************************************************************/


/******************************************
      Device page
******************************************/
#mainDeviceImg{
    width: 80%;
    height: auto;
}

.imageGallery{
    text-align: center;
    margin-bottom: 2%;
    position: relative;
    margin-top: -4%;
}

.devicePic{
    width: 20%;
    margin-right: 2%;
    margin-top: 2%;
    border: 1px solid black;
}

.price{
    color: #fe000b;
}

.priceBarred{
    text-decoration: line-through;
    color: black;
}

.priceTag{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

h3.price{
   margin-top: 10px; 
}

.colorTag{
    margin-top: 8%;
}

.table-bordered{
    border: 1px solid black;
    width: 98%;
    margin-bottom: 2%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #ecf2f8;
}

.techName{
    color: #0b3d86;
}

.slList{
    list-style-type: none;
    padding-left: 0;
}


.inputGroup{
    background-color: lightgrey;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 4px;
}

.inputGroupTitle{

    margin-bottom: 0;
    margin-top: 4%;
}

.purchaseSummary{
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 12%;
    margin-right: 2%;
    text-align: center;
}

.purchaseSummary>h3{
    color: #fe000b;
}

.purchaseSummary>hr{
    border-top-color: black;
    margin-bottom: 3px;
    margin-top: 3px;
}

.purchaseSummary>h5{
    text-align: left;
    margin-left: 2%;
}

.purchaseSummary>h2{
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
}

.purchaseSummary>.price{
    text-align: left;
    margin-left: 4%;
}

#buyDeviceImage{
    width: 75%;
    height: auto;
}

#buy{
    padding-bottom: 2%;
}

.summaryColumn{
    text-align: center;
}

#summaryTitle{
    margin-top: 10px;
}

.buttonPurchase{
    width: 80%;
    margin-top: 2%;
    background-color: #0b3d86;
}

.buttonPurchase>.glyphicon{
    color: white;
}

/*********************************************************************************************************************
WhoWeAre
*********************************************************************************************************************/

#leftImg{
    width:80%;
    position: relative;
    left: 5%;
    padding-top: 15%;
    padding-bottom: 15%
}

#rightImg{
    position: relative;
    width: 80%;
    margin-top: -25%;
    left: 12%;
    padding-bottom: 5%;
}

.secondTitle{
    position: relative;
    padding-top: 4%;
    color:#0b3d86;
    left:1%;
    width:98%;
}

.descript{
    position: relative;
    left: 2%;
    width: 105%;
}

.thirdTitle{
    position: relative;
    color: #0b3d86;
    text-align: center;
    margin: 0 0 0 0;
}

.fourthTitle{
    margin-top: 5%;
    text-align:center;
    color: #fe000b;
}

.bordered{
    border: 1px solid black;
    position: relative;
    left:5%;
    width:90%;
    border-radius: 10px;
}

.bottomUp{
    margin-bottom: 1%;
}

.firstTitle{
    position: relative;
    padding-top: 1%;
    color:#0b3d86;
    text-align: center;
}

.textDescript{
    position: relative;
    left: 2%;
    width:96%;
}

.rightImgTest{
    width: 70%;
    margin-top: 4%;
}

.rightImgTest2{
    margin-top: 10%;
}

.rightImgTest3{
    width: 50%;
    margin-top: 3%;
}

.videoTag{
   margin-top: 10%; 
}

.testimonialsImage{
    text-align: center;
}

.imageColWWA{
    text-align: center;
}

/********************************************************************************
Button to go to the highlights in AssistanceService page
********************************************************************************/

.highButton {
    text-align: center;
    margin-top: 2%;
}

.high{
    position: relative;
    background-color: #0b3d89; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5% 6% 0.5% 6%;
}

/********************************************************************************
       Assistance service page
********************************************************************************/

.asImage{
    width: 40%;
}

.imageRow{
    text-align: center;
    padding-bottom: 2%;
}

#accordion{
    width: 98%;
}

.faqIcon{
    float: right;
    height: 120%;
}